.img-container {
  border-radius: 2px;
  border: 3px solid #eeeeee;
  margin: 1rem;
  position: relative;
  text-align: left;
  width: 150px;
  height:150px;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}
.img-container > img {
  width: 100%;
}

.img-container > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.img-container > .remove:hover {
  color: #d50000;
}
