.wrapper {
  padding-top: 50px;
  background: #444444;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  border-top: 25px solid #222222;
  border-bottom: 40px solid #222222;
}
